<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id = "info">
        <label>Tema: </label>
        <input class="tema" id="tema">
        <label>Topico: </label>
        <input class="topico" id="topico">
        <input class="botones" type="submit" id="submit" value="Ingresar" />
    </form>
</body>
<script src="/static/js/publisher.js"></script>

</html>